<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Mission to Mars</title>
  </head>
  
  <body>
    <div class="container">
      <div class="jumbotron text-center">
          <h1 class="display-4">Mission to Mars</h1>
          <a class="btn btn-primary btn-lg" style="margin-top: 10px" href="/scrape" role="button">Scrape New Data</a>
      </div>

      <div class="container">
        <div class="row" style="margin-top: 50px">
          <div class="col-12">
            <div class="media">
              <div class="media-body">
                <h2>Latest Mars News</h2>
                <h5 style="margin-top: 10px">{{mars.news_title}}</h5>
                <h6 style="margin-top: 10px">{{mars.news_paragraph}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container" style="margin-top: 40px">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-lg-8">
            <h2>Featured Mars Image</h2>
            <img class="img-fluid" src="{{mars.featured_image}}" alt="Featured Image of Mars">
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Current Weather on Mars</h4>
                <p class="card-text">{{mars.weather}}</p>
              </div>
            </div>
            <br>
            <div class="row" style="margin-top: 15px">
              <div class="col-md-12">
                <h4>Mars Facts</h4>
                {{mars.facts | safe }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <h2 class="text-center" style="margin-top: 80px">Mars Hemispheres</h2>
        <div class="card-deck">
          <hr>
          <div class="col-md-12">
            <div class="row">
              {% for hemisphere in mars.hemispheres %}
              <div class="col-md-6">
                <div class="card">
                  <img class="card-img-top" src="{{hemisphere.img_url}}">
                  <div class="card-body">
                    <p class="card-text"><strong>{{hemisphere.title}}</strong></p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>